Avada2_fw/.settings/language.settings.xml
Avada_fw/.settings/language.settings.xml
*.elf
Avada_fw/Debug/
*.dsn
*.kicad_pcb-bak
*.ses
Avada_hw/_saved_avada.sch
*.bak
Avada_hw/avada-backups/
*.launch
Avada5/Avada5_fw/.settings/language.settings.xml
Avada5/Avada5_fw/Debug/
Avada5/Avada5_fw/Release/
Avada5/Avada5_hw/Avada5-backups/
